@import url("https://fonts.cdnfonts.com/css/matter");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
  background: rgb(255, 255, 255);
}
header .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 0 50px;
}
header .fa-phone h4 {
  color: rgb(0, 0, 0);
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.48px;
  text-align: left;
}
header .logo-name {
  color: rgb(0, 0, 0);
  font-family: "Matter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 18.2px;
  letter-spacing: 0.48px;
  text-align: left;
  text-decoration: none;
}
header nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 240px;
}
header .fa-phone {
  margin-left: 125px;
}
header .links li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0 14px;
}
header .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
}
header .links li a:hover {
  color: red;
}
header .links li:hover .htmlcss-arrow,
header .links li:hover .js-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
header nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #ddd;
  color: #000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
header nav .navbar .links li:hover .htmlCss-sub-menu,
header nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
header .navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .navbar .links li .sub-menu a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
header .navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
header .links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
header .navbar .nav-links .sidebar-logo {
  display: none;
}
header .navbar .bx-menu {
  display: none;
}

.navbar__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 35px 50px;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.navbar__bottom .logo img {
  position: relative;
  top: 40px;
  left: 15px;
}
.navbar__bottom .logo a {
  font-family: "Matter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #000;
  line-height: 18.2px;
  letter-spacing: 3.48px;
}
.navbar__bottom .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgb(100, 180, 150);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  margin-top: 55px;
}
.navbar__bottom .search input {
  width: 360px;
  padding: 12px 5px;
}
.navbar__bottom .search .select {
  position: relative;
  min-width: 200px;
}
.navbar__bottom .search .select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.navbar__bottom .search .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px 0px 22px;
  width: 100%;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
.navbar__bottom .search .select select:required:invalid {
  color: #5a667f;
}
.navbar__bottom .search .select select option {
  color: #223254;
}
.navbar__bottom .search .select select option[value=""][disabled] {
  display: none;
}
.navbar__bottom .search .select select:focus {
  outline: none;
  border-color: #07f;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.navbar__bottom .search .select select:hover + svg {
  stroke: #07f;
}
.navbar__bottom .search .sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__bottom .fa-magnifying-glass {
  padding: 15px;
  border-radius: 0px 5px 5px 0px;
  background: rgb(245, 62, 50);
  color: #fff;
}
.navbar__bottom .servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  gap: 20px;
}
.navbar__bottom .servises li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navbar__bottom .servises li:hover {
  color: red;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navbar__bottom .servises li h4 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.48px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
* button {
  border: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.headline {
  padding: 22.5px 312px;
  background-color: rgb(245, 62, 50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headline h2 {
  color: rgb(255, 255, 255);
  font-family: poppins;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.48px;
  text-align: left;
}
.headline .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  margin: 20px;
  padding: 25px;
  max-width: 306px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  background: rgb(247, 247, 248);
}
.box .title {
  color: rgb(43, 43, 45);
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  letter-spacing: 0.48px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.box input {
  width: 18px;
  height: 18px;
}
.box .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.box .type h3 {
  color: rgb(122, 122, 122);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.48px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.box .type .second {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}
.box .tasks__2 .type span {
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: transparent;
  margin-left: 150px;
}
.box .tasks__2 .blue {
  background-color: blue;
}
.box .tasks__2 .yellow {
  background-color: yellow;
}
.box .tasks__2 .red {
  background-color: red;
}
.box .tasks__2 .green {
  background-color: green;
}
.box .tasks__4 .type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.box .tasks__4 .type button {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 6px 16px;
}
.box .selector h2 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-align: left;
}
.box .selector h2 span {
  color: rgb(122, 122, 122);
}
.box .selector button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(245, 62, 50);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background: rgb(245, 62, 50);
  padding: 12px 23px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin: 20px auto;
}
.box .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: rgb(247, 247, 248);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 20px;
}
.box .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(245, 62, 50);
  cursor: pointer;
}
.box .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(245, 62, 50);
  cursor: pointer;
}

.image {
  position: relative;
  right: 1000px;
  top: 20px;
}

.main__image {
  width: 469px;
  height: 469px;
  border: 2px solid rgb(218, 226, 228);
}